.container{

    margin-bottom: 20px;
}

.btn {
    width: 110px;
    padding: 10px;
    display: block;
    margin: 0 auto;

    background-color: blue;
    color: white;
    border: transparent;
    border-radius: 5px;

    cursor: pointer;
}

.btn:hover {

    background-color: darkblue;
}